:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

app-image {
  width: var(--cad-image-width);
  height: var(--cad-image-height);
  background-color: var(--cad-image-background-color);
}
